* {
  font-family: Open Sans, sans-serif;
}

body {
  background-color: rgb(245,245,245);
}

#userInput {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  resize: none;
}

#text {
  display: block;
  width: 500px;
  height: 200px;
  padding: 5px 10px 5px 10px;
  margin: 20px 0px 8px 0px;
  box-shadow: 1px 1px 2px 1px #aaaaaa;
  font-size: 18px;
  color: black;
  resize: none;
}